div(
    class="chosenSeat"
)

    div(
        class="chosenSeatHeader"
    )
        h2 Chosen seat

    div(
        class="chosenSeatNumber"
    )
        span Your seat number is: {{$ctrl.seat.number}}
        span Your seat ID is: {{$ctrl.seat.id}}
        span Your seat availability is: {{$ctrl.seat.available}}
        span Your seat price is: {{$ctrl.seat.price}} Euro

    input(
        type="button"
        value="Book this seat"
        ng-click="$ctrl.bookSeat()"
        class="bnt"
    )
